In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [2]:
init_notebook_mode(connected=True)

In [3]:
tsla_ts = pd.read_pickle('data/stock_price_TSLA.pkl')

In [4]:
tsla_ts.head()

             open     high    low  close      volume
date
2010-06-29  19.00  25.0000  17.54  23.89  18766300.0
2010-06-30  25.79  30.4192  23.30  23.83  17187100.0
2010-07-01  25.00  25.9200  20.27  21.96   8218800.0
2010-07-02  23.00  23.1000  18.71  19.20   5139800.0
2010-07-06  20.00  20.0000  15.83  16.11   6866900.0

In [5]:
trace = go.Scatter(
    x = tsla_ts.index,
    y = tsla_ts['close'],
    mode = 'lines',
    name = 'TSLA'
)

In [7]:
data = [trace]

plot(data)

'temp-plot.html'